<!-- Componente lista. Não precisa seguir fielmente esse componente, caso queira adicionar botões, links etc. Pode, a ideia aqui é ter como exemplo, copiar ele e colocar na sua página e fazer as devidas modificações -->

<ul class="list-group">
  <li
    class="list-group-item px-5 py-3 d-sm-inline-flex align-items-center justify-content-between"
  >
    <div class="">
      <h5>Estacionamento Esperança</h5>
      <p>Av. Getúlio Vargas, 7939 - RJ</p>
    </div>

    <div class="">
      <h5>Valor</h5>
      <span>R$ 20,00/h</span>
    </div>
  </li>

  <li
    class="list-group-item px-5 py-3 d-sm-inline-flex align-items-center justify-content-between"
  >
    <div>
      <h5>Estacionamento Esperança</h5>
      <p>Av. Getúlio Vargas, 7939 - RJ</p>
    </div>

    <div>
      <h5>Valor</h5>
      <span>R$ 20,00/h</span>
    </div>
  </li>
</ul>
