<div class="container mt-5">
  <div class="search-container">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Pesquise uma vaga"
      id="search-box"
    />
    <button class="btn search-btn">Pesquisar</button>
  </div>
  <div class="search-suggestions d-none" id="suggestions-box">
    <ul class="list-group">
      <li class="list-group-item">Estacionamento Av. Branco</li>
      <li class="list-group-item">Estacionamento Av. Ribeira</li>
    </ul>
  </div>
</div>
