.btn-entrar{
    background-color:#ED9E1D;
    width:133.51px;
    height:55.94px;
    color: white;
}

.form-class{
    background-color:#0055a5;
    width:495px;
    height:633px;
    border-radius: 15px;
}