body {background-image: url(fundo-linhas.png)
}
.estacionamento{margin-top: 25px;
}

.h1 {
  color: #0055a5;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rs {
    text-decoration: none;
}

.navbar {
  padding: 16px 112px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand img {
  width: 40px;
  height: auto;
}

.btn-primary {
  border: 0;
  border-radius: 8px;
  background-color: #ed9e1d;
  color: #3c3c3c;
}

.btn-primary:hover {
  background-color: #d78a14;
  color: #3c3c3c;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 158, 29, 0.5);
}


.list-group-item:hover {
    background-color: #e7f1ff;
  }
  





